*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

h1 {
  text-align: center;
}

label,input {
display: block;
}
label {
  color:green;
}
input {
width:100%;
}
.submit {
  margin: 15px auto 0 auto;
  width: 40%;
  background-color: rgb(180, 122, 235);
  border-radius:5px;
}

form {
  min-width: 300px;
  max-width: 600px;
  margin:auto;
  border: 2px solid black;
  padding:15px; 
}

.g-recaptcha {
  margin-top: 15px;
  display:flex;
  justify-content: center;

}